/*
 Primary color: #4167B2
*/
.App {
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #4167B2;
}

#homepage-container{
  border: 1px solid blue;
  width: 100%;
}