@import './variables';

.reports-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 10px;
  grid-row-gap: 15px;
  margin-top: 60px;
  border: 0.1px solid #4286f4;
}

.single-report {
  border: 1px solid $color-input-border;
  box-shadow: 1px 0.5px $color-input-border;
  margin: 10px;
}

.single-report img {
  //   width: 50%;
  cursor: pointer;
}
