@import './variables';
textarea{
  display: block;
  border: 1px solid $color-input-border;
  height: 150px;
  width: 100%;
  margin: 10px 0;
}
button{
  display: block;
}
#report-form{
  display: block;
  margin:0 auto;
  width: 80%;
}
select{
  color: map-get($color-black, 900) !important;
  &:invalid{
    color: rgba(50,60,71,0.4) !important;
  }
}
select,
select:focus {
  background-color: map-get($color-white, 000);
  border: 1px solid $color-input-border;
  border-radius: 4px;
  line-height: 1.4em;
  font-size: 16px;
  width: 32.3rem !important;
  display: block;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;


  @media screen and (min-width: 1072px) {
    width: 36rem;
  }

  @media screen and (max-width: 678px) {
    width: 20rem;
  }

  @media screen and (max-width: 678px) {
    width: 15rem;
  }

  &.default-select {
    background-image: linear-gradient(45deg, transparent 50%, map-get($color-blue, 200) 50%), linear-gradient(135deg, map-get($color-blue, 200) 50%, transparent 50%), linear-gradient(to right, $color-input-border, $color-input-border), linear-gradient( to right, rgba(244, 247, 249, 0.4), rgba(244, 247, 249, 0.4));
    background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0em, 100% 0;
    background-size: 5px 5px, 5px 5px, 0.1rem 100%, 2.5em, 2.5em;
    background-repeat: no-repeat;
  }
}
