$color-input-border: #d6dee4;

$color-blue: (
  100: #c7d1f7,
  200: #808fa3,
  300: #7a94eb,
  400: #0000ff,
);

$color-black: (
  100: #999999,
  200: #aba6a6,
  300: #65696d,
  400: #4f4f4f,
  500: #434343,
  600: #333e44,
  900: #000000,
);

$color-white: (
  000: #ffffff,
  100: #f1f0f0,
  200: #f8f8f8,
  300: #f9f9f9,
  400: #c3c1c1,
  500: #e4e4e4,
  600: #dddddd,
  700: #c7c6c6,
  800: #f4f8f9,
  900: rgba(255, 255, 255, 0),
);
